.col-6-l{
    width: 50%;
    float: left;
    text-align: center;
}

.col-6-r{
    width: 50%;
    float: right;
    text-align: center;
}

.header{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    background-color: rgb(189, 181, 181);
    min-height: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}